@page "/products/{number:double}"

@inject NavigationManager NavigationManager
@inject lek4.Components.Service.NumberService NumberService
@code {
    [Parameter]
    public double number { get; set; }

    private List<int> productNumbers;
    private int unlockingProduct = -1; // Håller reda på vilken produkt som håller på att låsas upp
    private double remainingOdds;

    protected override void OnParametersSet()
    {
        NumberService.CurrentNumber = number;
        remainingOdds = Math.Min(NumberService.GetRemainingOdds(), 100.0); // Limit to 100
        productNumbers = Enumerable.Range(1, NumberService.MaxProductNumber).ToList(); // Use MaxProductNumber to display products
    }

    private async Task GoToProduct(int productNumber)
    {
        unlockingProduct = productNumber;
        StateHasChanged(); // Uppdatera komponenten för att starta animationen
        await Task.Delay(1000); // Vänta tills animationen är klar (1 sekund)
        NumberService.UnlockProduct(productNumber);
        NavigationManager.NavigateTo($"/product/{productNumber}");
    }

    private string GetIconClass(int productNumber)
    {
        return NumberService.IsProductUnlocked(productNumber) ? "fas fa-unlock" : "fas fa-lock";
    }

    private bool IsProductLockedIn(int productNumber)
    {
        return NumberService.IsProductLockedIn(productNumber);
    }

    private string GetProductClass(int productNumber)
    {
        return NumberService.IsProductLockedIn(productNumber) ? "product locked-in" : "product locked";
    }
}

<h3 class="center-title">Products</h3>
<p class="remaining-odds">Odds: @remainingOdds</p> <!-- Display remaining odds -->

<div class="product-grid">
    @foreach (var productNumber in productNumbers)
    {
        <div class="@GetProductClass(productNumber) product-@(productNumber) @(unlockingProduct == productNumber ? "unlocking" : "")">
            <a @onclick="async () => await GoToProduct(productNumber)">
                <div class="icon-wrapper">
                    @if (!IsProductLockedIn(productNumber))
                    {
                        <i class="@GetIconClass(productNumber)"></i> <!-- Hänglåsikon -->
                    }
                    @if (IsProductLockedIn(productNumber))
                    {
                        <i class="fas fa-check checkmark"></i> <!-- Bock ikon -->
                    }
                </div>
            </a>
        </div>
    }
</div>

<style>
   
</style>
