@page "/products/{number:double}"

@inject NavigationManager NavigationManager
@inject lek4.Components.Service.NumberService NumberService

@code {
    [Parameter]
    public double number { get; set; }

    private List<int> productNumbers;

    protected override void OnParametersSet()
    {
        NumberService.CurrentNumber = number;
        int maxProductNumber = (int)Math.Floor(number);
        productNumbers = Enumerable.Range(1, maxProductNumber).ToList();
    }

    private void GoToProduct(int productNumber)
    {
        NavigationManager.NavigateTo($"/product/{productNumber}");
    }
}

<h3 class="center-title">Products</h3>

<div class="product-grid">
    @foreach (var productNumber in productNumbers)
    {
        <div class="product product-@(productNumber)">
            <a @onclick="() => GoToProduct(productNumber)">
                <i class="fa-solid fa-lock"></i>
            </a>
        </div>
    }
</div>

<style>
    .product-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .product {
        flex: 1 0 21%; /* approximately four items per row */
        margin: 5px;
        padding: 20px;
        border: 1px solid #ddd;
        text-align: center;
        cursor: pointer;
    }

        .product a {
            text-decoration: none;
            color: inherit;
            font-size: 2em;
        }
</style>
