@page "/signup"
@using lek4.Features.SignUp
@using Firebase.Auth

@inject FirebaseAuthClient AuthClient

<div class="login-container">
    <div class="login-form">
        <h3 class="login-title">Sign Up</h3>
        <EditForm Model="_viewModel">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <InputText id="email" @bind-Value="_viewModel.Email" placeholder="Email" />
            </div>
            <div class="form-group">
                <InputText id="password" @bind-Value="_viewModel.Password" type="password" placeholder="Password" />
            </div>
            <div class="form-group">
                <InputText id="confirmPassword" @bind-Value="_viewModel.ConfirmPassword" type="password" placeholder="Confirm Password" />
            </div>
            <button class="login-button" @onclick="OnSignUpClicked">Sign Up</button>
            <div class="error-message">
                <!-- You can display error messages here if needed -->
            </div>
            <p>Already have an account? <NavLink href="/login">Login here</NavLink></p>
        </EditForm>
    </div>
</div>

@code {
    private SignUpFormViewModel _viewModel;

    protected override void OnInitialized()
    {
        _viewModel = new SignUpFormViewModel();
    }

    private void OnSignUpClicked()
    {
        _viewModel.SignUpCommand.Execute(null);
    }
}

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f5f5f5;
    }

    .login-form {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .form-group {
        margin-bottom: 15px;
        text-align: left;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

    .login-title {
        margin-bottom: 20px;
        font-size: 24px;
        color: mediumpurple;
    }

    .login-button {
        width: 100%;
        padding: 10px;
        background-color: mediumpurple;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .login-button:hover {
            background-color: rebeccapurple;
        }

    .error-message {
        color: red;
        margin-top: 10px;
    }
</style>